<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  
<section>
  <div class="banner d-flex justify-content-center align-items-center">
 	<div class="text-center">
 	 <h1>Welcome To Smart Conatct Manager</h1>
     <p>
     Start Collecting Your Contacts in Very Smarter way.Wer provide very smarter and efficent way of handling your Contacts.
     </p>
     <button class="btn btn-primary btn-lg text-uppercase">Know More</button>
 	</div>
  </div>
    </section>
    
  </body>
</html>